    body{
      background-color: white;
    }
    hr{
      border-style: none;
      border-top-style: solid;
      width: 20%;
      border-width: 5px;
    }
    h1, h2 ,h3{
      color: blue;
    }
